$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

.navbar {
  width: auto;
  height: 100%;
  background: $greyDark;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
}
.navbar .logo {
  padding: 1rem 0.8rem;
  svg {
    max-width: 130px;
  p {
    fill: white;
  }
  }
}

.navbar .links {
  margin-top: 5vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: $greyText;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: circular-bold;
  display: flex;
  align-items: center;  
}