$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;

*{
    box-sizing: border-box;
    margin: 0;
}

.App{
    background: $greyLight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    header{
        justify-content: flex-start;
        position: relative;
        max-width: 18.5%;
        height: 100vh;
        margin-left: 0;
    }

    .main-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        
    }
    
    .first-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
        margin-left: 2vw;
    }

    .first-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    




















}




